<!-- <div class="header">
  <p mat-dialog-title>Thành công</p>
</div>
<mat-dialog-content class="mat-typography">
    <img [src]="data.imageUrl" alt="">
    <h2>
      {{ data.title }}
    </h2>
  {{ data.content }}
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-raised-button color="basic" (click)="close()">{{ data.closeText }}</button>
  <button mat-button mat-raised-button color="primary" (click)="addNew()">{{ data.continueText }}</button>
  <button mat-button mat-raised-button color="accent" (click)="navigate()">{{ data.navigateText }}</button>
</mat-dialog-actions> -->
