<app-banner></app-banner>

<div dataci_espot="_HomePage_Main" class="genericESpot" data-espotname="HomePage_Main" id="ci_espot__HomePage_Main">
  <div class="hptout" id="nondenim-20190314-mariaJ">
    <picture>
      <!--   Mobile  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-M-Non-Denim-Bottoms?$mobileMarketing$&amp;wid=640"
        media="(max-width: 767px)">
      <!--   Desktop  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=960"
        media="(min-width: 768px) and (max-width: 960px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=1270"
        media="(min-width: 961px) and (max-width: 1270px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=1500"
        media="(min-width: 1271px) and (max-width: 1500px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=1750"
        media="(min-width: 1501px) and (max-width: 1750px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=2000"
        media="(min-width: 1751px)">

      <img class="bg" alt=""
        src="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Non-Denim-Bottoms?$marketing$&amp;wid=960">
    </picture>

    <div class="flexcenter">
      <div class="newDynoBox">

        <div class="copybox">


          <h2>
            <span class="dn50 navy block">Pants. Shorts.</span>
            <span class="dn30 navy block rel" style="margin-top:.2em;">Repeat forever.</span>
          </h2>

        </div>

        <div class="ctas" style="margin-top:.2em;">
          <div class="cta-container">
            <a class="box-cta navy creamBG mo-cta" aria-label="Shop guys bottoms."
              href="/shop/wd/guys-jeans-and-bottoms?icmp=ICT%3ASPB19%3AM%3AHP%3AT2%3AK%3Ax%3ABTM%3AMarWk2">SHOP
              GUYS BOTTOMS</a>
            <a class="box-cta navy creamBG mo-cta" aria-label="Shop girls bottoms."
              href="/shop/wd/girls-bottoms?icmp=ICT%3ASPB19%3AF%3AHP%3AT2%3AK%3Ax%3ABTM%3AMarWk2">SHOP
              GIRLS BOTTOMS</a>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="hptout" id="dresses-20190314-mariaJ">
    <picture>
      <!--   Mobile  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-M-Dresses?$mobileMarketing$&amp;wid=640"
        media="(max-width: 767px)">
      <!--   Desktop  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=960"
        media="(min-width: 768px) and (max-width: 960px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=1270"
        media="(min-width: 961px) and (max-width: 1270px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=1500"
        media="(min-width: 1271px) and (max-width: 1500px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=1750"
        media="(min-width: 1501px) and (max-width: 1750px)">
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=2000"
        media="(min-width: 1751px)">

      <img class="bg" alt="Get allll the comfortable dresses in prints, solids, stripes &amp; florals."
        src="//anf.scene7.com/is/image/anf/hco-20190314-HP-D-Dresses?$marketing$&amp;wid=960">
    </picture>

    <div class="flexcenter">
      <div class="newDynoBox">

        <div class="copybox">


          <h2>
            <!-- THE H2 TAG CANNOT BE NESTED IN THE P TAG, NEEDS TO CONTAIN TEXT THAT "EXPLAINS" WHAT THE TOUT IS ABOUT -->
            <span class="dn35 dn40-d navy block">Get allll the</span>
            <span class="dn35 dn60-d navy block">Comfortable</span>
            <span class="dn35 dn60-d navy block">Dresses</span>
            <span class="pfd25s pfd20s-d navy block dtbreak" style="margin-top:.3em;">in prints, solids,
              stripes &amp; florals.</span>
            <span class="pfd25s pfd20s-d navy block mobreak" style="margin-top:.4em;">in prints,
              solids,</span>
            <span class="pfd25s pfd20s-d navy block mobreak">stripes &amp; florals.</span>
          </h2>

        </div>

        <div class="ctas">
          <div class="cta-container">
            <a class="box-cta box-cta-full navy creamBG mo-cta" aria-label="Shop girls dresses."
              href="/shop/wd/girls-dresses-dresses-and-rompers-6962764?icmp=ICT%3ASPB19%3AF%3AHP%3AT2%3AK%3Ax%3ADRS%3AMarWk2">SHOP
              NOW</a>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="hptout" id="tops-20190321-mariaJ">
    <picture>
      <!--   Mobile  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190322-HP-M-Tops-Tees?scl=1&amp;$mobileMarketing$"
        media="(max-width: 767px)">
      <!--   Desktop  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190322-HP-D-Tops-Tees?scl=1&amp;$marketing$"
        media="(min-width: 768px)">
      <img class="bg" alt="" src="//anf.scene7.com/is/image/anf/hco-20190322-HP-D-Tops-Tees?scl=1&amp;$marketing$">
    </picture>

    <div class="flexcenter">
      <div class="newDynoBox">

        <div class="copybox">
          <h2>
            <!-- THE H2 TAG CANNOT BE NESTED IN THE P TAG, NEEDS TO CONTAIN TEXT THAT "EXPLAINS" WHAT THE TOUT IS ABOUT -->
            <span class="dn40 navy block" style="margin-bottom:.2em;">Score new looks</span>
            <span class="dn55 navy block">In these tops</span>
            <span class="pfd20s navy block dtbreak">Ft. your favorite tees for every style</span>
            <span class="pfd25s navy block mobreak" style="margin-top:.4em;">Ft. your favorite tees for
              every style</span>
          </h2>
        </div>

        <div class="ctas">
          <div class="cta-container">
            <a class="box-cta navy creamBG mo-cta " aria-label="Shop guys tops."
              href="/shop/wd/guys-tops?icmp=ICT%3ASPB19%3AM%3AHP%3AT2%3AK%3Ax%3ATOPS%3AMarWk3">SHOP
              GUYS</a>
            <a class="box-cta navy creamBG mo-cta " aria-label="Shop girls tops."
              href="/shop/wd/girls-tops?icmp=ICT%3ASPB19%3AF%3AHP%3AT2%3AK%3Ax%3ATOPS%3AMarWk3">SHOP
              GIRLS</a>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="hptout" id="swim-20190321-mariaJ">
    <picture>
      <!--   Mobile  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190322-HP-M-Swim?scl=1&amp;$mobileMarketing$"
        media="(max-width: 767px)">
      <!--   Desktop  -->
      <source srcset="//anf.scene7.com/is/image/anf/hco-20190322-HP-D-Swim?scl=1&amp;$marketing$"
        media="(min-width: 768px)">
      <img class="bg" alt="" src="//anf.scene7.com/is/image/anf/hco-20190322-HP-D-Swim?scl=1&amp;$marketing$">
    </picture>
    <div class="flexcenter">
      <div class="newDynoBox">

        <div class="copybox">


          <p>
            <span class="dn25 dn20-d navy block"># Hollister Collective</span>
            <span class="dn25 dn20-d navy block">Presents</span>
          </p>

          <h2>
            <span class="dn55 dn60-d navy block colorSpecial hco-mx-show hco-eu-show hco-uk-show">Swim
              season</span>
            <span class="dn55 dn60-d navy block colorSpecial hco-us-show hco-ca-show">Swim
              seizin'</span>
          </h2>
          <img class="hp-logo" alt="Carpe now."
            src="//anf.scene7.com/is/content/anf/hol-carpe-now-nobox-HORIZ-navy?$marketing$">
          <!-- SVG -->
        </div>

        <div class="ctas">
          <div class="cta-container">
            <a class="box-cta navy creamBG mo-cta " aria-label="Shop guys swim."
              href="/shop/wd/guys-swimwear?icmp=ICT%3ASPB19%3AM%3AHP%3AT3%3AK%3Ax%3ASWIM%3AMarWk3">SHOP
              GUYS</a>
            <a class="box-cta navy creamBG mo-cta" aria-label="Shop girls swim."
              href="/shop/wd/Swimwear?icmp=ICT%3ASPB19%3AF%3AHP%3AT3%3AK%3Ax%3ASWIM%3AMarWk3">SHOP
              GIRLS</a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
