<div class="container">
  <div class="steps">
    <div class="step active">
      <div class="icon">
        <mat-icon>
          shopping_cart
        </mat-icon>
      </div><span>Giỏ hàng</span>
    </div>
    <div class="step active">
      <div class="icon">
        <mat-icon>
          person
        </mat-icon>
      </div><span>Thông tin đặt hàng</span>
    </div>
    <div class="step active">
      <div class="icon">
        <mat-icon>check</mat-icon>
      </div><span>Xác nhận</span>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 thankyou-message">
      <div class="complete">
        <div class="icon">
          <mat-icon>check</mat-icon>
        </div>
        <p>Đặt hàng thành công</p>
      </div>
      <h2>Cảm ơn bạn đã mua hàng. Vui lòng kiểm tra email để xem chi tiết đơn hàng.</h2>
      <p>Email hỗ trợ: <span>info@syeta.com</span></p>
      <div class="controls-summary"><a class="btn-prev" [routerLink]="[ '/' ]"><i
            class="mdi mdi-chevron-left"></i><span>back</span></a></div>
    </div>
  </div>
</div>
